on:
  pull_request:
    types: [labeled, unlabeled]

jobs:
  assign_to_project:
    runs-on: ubuntu-latest
    name: Assign a PR to project based on label
    steps:
      - name: Assign to project
        uses: elastic/github-actions/project-assigner@v2.0.0
        id: project_assigner
        with:
          issue-mappings: |
            [
              {"label": "wf_test", "projectNumber": 1, "columnName": "In progress"}
            ]
          #ghToken: ${{ secrets.PROJECT_ASSIGNER_TEST_TOKEN }}
          ghToken: ${{ secrets.GITHUB_TOKEN }}

